.delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 300px;
}

.delete-spot-h2 {
    margin: 0px;
}

.delete-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.yes-button {
    width: 300px;
    padding: 12px 0px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
    background-color: #BCAFD4;
    color: white;
    cursor: pointer;
}

.no-button {
    width: 300px;
    padding: 12px 0px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
    background-color: grey;
    color: white;
    cursor: pointer;
}
