.spots-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;
    padding-top: 25px;
    max-width: 1300px;
}

.spot-tile {
    cursor: pointer;
}

.all-spot-images {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.tool-tip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-tip-text {
    visibility: hidden;
    position: absolute;
    background-color: #BCAFD4;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    bottom: 42%;
    width: 80%;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

.spot-left {
    display: flex;
    flex-direction: column;
}

.spot-prices {
    margin: 0px;
    padding-top: 5px;
}

.spot-right {
    display: flex;
    justify-content: flex-end;
}
