.manage-spots-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.manage-title {
    margin: 10px 0px;
}

.create-new-spot-button, .update-spot-button {
    padding: 5px 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
    background-color: #BCAFD4;
    color: white;
    cursor: pointer;
}

.manage-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.spots-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;
    padding-top: 25px;
    max-width: 1300px;
}

.spot-tile {
    cursor: pointer;
}

.spot-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

.spot-left {
    display: flex;
    flex-direction: column;
}

.spot-prices {
    margin: 0px;
    padding-top: 5px;
}

.spot-right {
    display: flex;
    justify-content: flex-end;
}
